<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title u20582006_HW04</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--<nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/logo.jpg" height="50" alt="">
        </a>
    </nav>
    <ul class="nav navbar-nav">
        <li>Html.ActionLink("About Us", "About", "Home")</li>
        <li>Html.ActionLink("Newsletter sign up", "Newsletter", "Home")</li>
    </ul>-->
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Sign Up", "Newsletter", "Home")</li>
                    </ul>
                </div>
            </div>
             
            
        

        </div>
    </div>
            
    <div class="container body-content">
        @RenderBody()
        <hr />
        <a href="https://energycenter.org/" style="align-content">
            <img src="~/logo.jpg" class="img-center" height="70" />
        </a>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
